.home{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: #fff;
    max-width: 500px;
}
.home p{
    font-weight: bolder;
}

